@charset 'utf-8';
/*font-family: 'Noto Sans KR', sans-serif;*/

.wrap {
    width: 100%;
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
}
a {
    text-decoration: none;
}
.title {
    font-size: 56px;
    font-weight: 500;
    color: #2662b7;
}

/* header!!!!! */
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #dbdbdb;
    -webkit-transition: .5s;
    transition: .5s;
}
.header_wrap {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    padding: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
}
header.fixed {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 50;
}
header.fixed .header_wrap {
    height: 60px;
    font-size: 16px;
}
header.fixed h1 img {
    width: 60px;

}
h1 {
    width: 100px;
}
nav {
    width: 540px;
    margin-right: 80px;
    font-size: 20px;
}
.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gnb_list {
    position: relative;
}
.gnb_list>a {
    display: block;
    padding: 8px 12px;
}

.gnb_list>a::after {
    content: attr(data-split);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;

}
.gnb_list .top::before,
.gnb_list .top::after,
.gnb_list .bottom::before,
.gnb_list .bottom::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: #2662b7;
    z-index: -1;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}
.gnb_list .top::before {
    top: 0;
    left: 0;
}
.gnb_list .top::after {
    top: 0;
    right: 0;
}
.gnb_list .bottom::before {
    bottom: 0;
    left: 0;
}
.gnb_list .bottom::after {
    bottom: 0;
    right: 0;
}
.gnb_list:hover a::after{
    opacity: 1;
}
.gnb_list:hover .top::after,
.gnb_list:hover .top::before,
.gnb_list:hover .bottom::after,
.gnb_list:hover .bottom::before {
    max-width: 50%;
    max-height: 50%;
    opacity: 1;
}
/* header end */

section {
    width: 100%;
}
.about {
    width: 1280px;
    padding: 80px 10px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about_txt {
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.05em;
    margin-top: 80px;
}

.about_bg {
    margin-right: 80px;
}
/* about end */
.skills_wrap {
    width: 100%;
    background: #f9f9f9;
}
.skills {
    width: 1280px;
    padding: 80px 10px;
    margin: 0 auto;
}
.skills>ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.skills_top {
    margin-top: 80px;
}
.skills_bottom {
    margin-top: 40px;
}
.skills_item {
    width: 300px;
    height: 280px;
    padding: 28px 0px;
    text-align: center;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.skills_item>img {
    max-width: 160px;
    max-height: 160px;
    -webkit-transition: .4s;
    transition: .4s;
}

.skills_item>img:hover {
    margin-top: -28px;
}
/* skills end */

.portfolio {
    width: 1280px;
    padding: 80px 10px;
    margin: 0 auto;
    letter-spacing: -0.05em;
}
.port_item {
    width: 100%;
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.port_left,.port_right {
    width: 540px;
}

.port_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}
.port_txt {
    font-size: 20px;
    line-height: 30px;
    color: #666;
}
.port_img {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.port_img::after {
    content:'자세히보기 >';
    position: absolute;
    padding: 20px 24px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 99, 183, 0.7);
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    margin-bottom: -65px;
    -webkit-transition: .5s;
    transition: .5s;
}
.port_img:hover::after {
    margin-bottom: 0;
}

/* portfolio end */

.contact {
    width: 1280px;
    padding: 80px 10px;
    margin: 0 auto;
}
.contact_content {
    width: 100%;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contact_info,contact_map {
    width: 620px;
}

.info_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
}
.info_list img {
    width: 48px;
    /* padding: 6px; */
    margin-right: 20px;
}
.info_list_item {
    margin-top: 36px;
}
.info_list_item:first-child {
    margin-top: 0px;
}   
#map {
    width: 620px;
    height: 320px;
}

/* footer */

footer {
    width: 100%;
    height: 120px;
    margin-top: 80px;
    line-height: 120px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
    background: #00183c;
}